.add-form {
  display: flex;
  width: 100%;
  gap: 32px;
}

.form-container {
  text-align: left;
  width: 98%;
}

.form-title {
  font-family: 'Montserrat', sans-serif;
  color: #888;
  letter-spacing: -0.18px;
  font-size: 1.25rem;
}

input {
  padding: 12px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

input::placeholder {
  color: #c4c4c4;
}

.title-input {
  width: 50%;
}

.author-input {
  width: 30%;
}

input:focus {
  outline: none;
  border: solid 1px #0290ff;
}

.add-btn {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: white;
  font-size: 0.813rem;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

.add-btn:hover {
  border: none;
}

.add-btn:active {
  position: relative;
  top: 1px;
}
